<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="text-align:center;font-family: sans-serif;">  
    <h1>Ecom - data</h1>
    <table border="2" style="border-collapse:collapse; width:100%; background-color: rgb(102, 56, 142); color:white; font-size: larger;"
    >
        
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
        </tr>

        <% for(let i =0; i <data.length; i++){ %>
            <tr>
                <td><%= data[i].id  %></td>
                <td><%= data[i].name  %></td>
                <td><%= data[i].email  %></td>
                <td><%= data[i].password  %></td>
            </tr>
        <% } %>
        
    </table>
</body>
</html>